{% extends 'base.html.twig' %}

{% block title %}Dashboard - Accueil{% endblock %}

{% block body %}

<div class="example-wrapper">
    <nav>
        <a class="nav-element" href="#">
            <i class="material-icons nav-logo">home</i>
            Accueil
        </a>

        <a class="nav-element" href="#">
            <i class="material-icons nav-logo">list</i>
            Vote
        </a>

        <a class="nav-element" href="#">
            <i class="material-icons nav-logo">account_circle</i>
            Profil
        </a>

        <a class="nav-element" href="{{ path('logout') }}">
            <i class="fas fa-sign-out-alt nav-logo"></i>
            Déconnexion
        </a>
    </nav>

    <div class="main-container">
        <div class="content-container">

            <h1>Hello {{ controller_name }}! ✅</h1>

            This friendly message is coming from:
            <ul>
                <li>Your controller at <code><a href="{{ 'src/Controller/DashboardController.php'|file_link(0) }}">src/Controller/DashboardController.php</a></code></li>
                <li>Your template at <code><a href="{{ 'templates/dashboard/index.html.twig'|file_link(0) }}">templates/dashboard/index.html.twig</a></code></li>
            </ul>

        </div>
    </div>




</div>
{% endblock %}
