{% extends 'base.html.twig' %}

{% block title %}Connectez-vous !{% endblock %}

{% block body %}

<div class="form-div">
    <!--<a href="{{ path('logout') }}">Se déconnecter</a>-->
    <h1>CONNECTEZ-VOUS</h1>

    <hr class="form-hr">

    <form class="form-login" action="{{ path('login') }}" method="post">

        <div class="input">
            <i class="fas fa-user"></i>
            <input class="username" type="text" name="_username" value="{{ last_username }}" placeholder="Nom d'utilisateur">
        </div>

        <div class="input">
            <i class="fas fa-key"></i>
            <input type="password" name="_password" placeholder="Mot de passe">
        </div>

        <div class="error-div">
            {% if error %}
                <span class="error">{{ error.messageKey }}</span><br>
                <span class="error">Veuillez saisir un identifiant et un mot de passe valides.</span>
            {% endif %}
        </div>
        <button type="submit">Se connecter</button>

    </form>

    <div class="bottom-form">
        <p>Powered by</p>
        <a href="https://symfony.com/" target="_blank">
            <img src="../../assets/img/symfony.svg">
        </a>
    </div>
</div>
{% endblock %}
