{% extends 'base.html.twig' %}

{% block title %}Connectez-vous !{% endblock %}

{% block body %}
<style>
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .error {color: red;}
</style>

<div class="form-div">
    <!--<a href="{{ path('logout') }}">Se déconnecter</a>-->
    <h1>CONNECTEZ-VOUS</h1>

    <hr class="form-hr">

    {% if error %}
        <span class="error">{{ error.messageKey }}</span>
    {% endif %}

    <form class="form-login" action="{{ path('login') }}" method="post">

        <input class="username" type="text" name="_username" value="{{ last_username }}" placeholder="Nom d'utilisateur">
        <input type="password" name="_password" placeholder="Mot de passe">
        <button type="submit">Se connecter</button>

    </form>

    <div class="bottom-form">
        <p>Powered by</p>
        <img src="../../assets/img/symfony.svg">
    </div>
</div>
{% endblock %}
